.example-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.card{
    width:25%;
    background-color: darkturquoise;
    margin:20px;
    display: inline-block;
    text-align: center;
}
#max{
    margin-right: 20px;
}
#md-1{
    margin-right: 10px;
}
#rmv{
    margin-left: 15px;
}
body{
    background-color: lightgray;
}
.total{
    margin-left: 60px;
}
.pay{
    margin-left: 60px;
}