.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
  .example-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
  width:30%;
  margin:20px;
  display: inline-block;
  text-align: center;
}
.title-center {
  margin: 0 auto;
}
body {
  background-color: brown;
}
